<!DOCTYPE html>

<html lang="en">

<head>

  <title>NFT</title>

  <!-- 设置文档编码 -->

  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

  <!-- -->

  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">


  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

  <!-- 新 Bootstrap 核心 CSS 文件 -->

  <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css">


  <!-- 外部样式 style.css -->
  <link rel="stylesheet" href="../static/css/style.css" type="text/css">

  <style>
    body {
      background-image: url("../static/img/bbb20-min1.jpg");
      background-repeat: repeat-y;
      background-size: 100%;
      background-color: #0c62af;
    }
  </style>
</head>

<body>
  <header>
    <!-- Image and text -->
    <nav class="navbar navbar-expand-md fixed-top navbar-light" style="background-color: #000000c0;">
      <a class="navbar-brand" href="../templates/index.html" style="color: #ffffff">
        <img src="../static/img/Logo1.svg" width="30" height="30" class="d-inline-block align-top" alt=""
          loading="lazy">
        DeCEX
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="publicSale.html#publicsale" class="nav-link1">Public Sale</a>
          </li>
          <li class="nav-item">
            <a href="nft.html" class="nav-link1">NFTs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #dddddd">DCX Farming</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" style="color: #dddddd;">
              NFT Ecosystem
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item">NFT Auction</a></li>
              <li><a class="dropdown-item">NFT Farming</a></li>
              <li><a class="dropdown-item">NFT Gaming</a></li>
            </ul>
          </li>
          <li class="nav-item" style="text-align: center;">
            &nbsp;
            <a href="https://drive.google.com/file/d/1YVWkbCoFJo-jvC1imMVDxCEtzIrNnLpN/view?usp=sharing"
              class="btn btn-primary" style="color: #ffffff;">
              Whitepaper</a>
          </li>
          &nbsp;
          <li class="nav-item" style="text-align: center;">
            &nbsp;
            <a href="../static/DeСEXauditreport.pdf" class="btn btn-primary" tabindex="-1" role="button"
              aria-disabled="true">
              Audit</a>
          </li>
          <li class="nav-item" style="text-align: center;">
            &nbsp;
            <a href="https://drive.google.com/file/d/1B_Cn0P_Ls4wAf6SqMFtW0-dy-OWlMgnG/view?usp=sharing"
              class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">
              Roadmap</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <section style="margin-top: 2.3cm;">
    <div class="container">
      <div class="row justify-content-end" style="margin-bottom: 1.5cm;">
        <div class="col">
          <img src="../static/img/Logo2.png" width="30%">
          <img src="../static/img/white.png" width="40%">
        </div>
        <div class="col" style="padding: 0px; text-align: right; ">
          <button type="button" class="btn btn-dark">
            <a
              onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
              <img src="../static/img/wallet.svg" width="23" height="23">
              Unlock Wallet
            </a>
          </button>
        </div>
      </div>
      <div id="light" class="white_content">
        <div style="text-align: center; font-size: 25px;margin-top: 1cm;">Unlock Your Wallet</div>
        <div style="text-align: center; font-size: 20px;margin-top: 1cm;">Coming Soon</div>
        <div style="text-align: center;margin-top: 1cm;">
          <input type="button" value="Cancel" class="btn btn-primary"
            onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'" />
        </div>
      </div>
      <div id="fade" class="black_overlay"></div>
    </div>
  </section>

  <section style="margin-top: 0cm; background-color: #ffffff; color: #000000;">
    <div class="container">
      <h1 style=" padding-top: 2cm;margin-bottom: 1.5cm;">NFT Artist</h1>
      <div class="row justify-content-center" style="margin-top: 1cm;">
        <div class="col-lg">
          <h3>Zemm</h3>
          <p style=" margin-top: 1cm;margin-bottom: 1cm;">
            Zemm has been making art about cryptocurrencies since 2017.
            Recently, he illustrated for Yearn Finance' yGift project and
            has sold out several series of NFTs on Rarible. Zemm is known
            for melding dexterous pen drawing with digital graphics and animations
            to articulate and explore the mythos of emergent technology and shifting
            cultures in the crypto sphere.
          </p>

        </div>
        <div class="col-lg" style="text-align: center;">
          <img src="../static/img/zemm.jpg" width="30%" style="min-width: 200px;max-width: 300px;">
        </div>
      </div>
      <a class="btn btn-primary" href="https://twitter.com/Zemm_NFT"
        style="font-size: 20px; margin-bottom: 2cm; margin-top:1cm;"><img src="../static/img/twitter.svg" width="30"
          height="30">&nbsp; Twitter
      </a>
      <a class="btn btn-warning" href="https://app.rarible.com/zemm"
        style="font-size: 20px; margin-bottom: 2cm;color: #ffffff;margin-top:1cm;"><img src="../static/img/rarible.svg"
          width="30" height="30">&nbsp; Rarible
      </a>
    </div>
  </section>

  <section style="margin-top: 5cm;  color: #000000; margin-bottom: 5cm">
    <div class="container" style="background-color: #ffffff9a; ">
      <h1 style=" padding-top: 2cm;margin-bottom: 1cm;text-align: center;">NFT Collections</h1>
      <div class="row justify-content-center" style="margin-top: 2cm;">
        <div class="col" style="vertical-align: middle;text-align: center;">
          <div><img src="../static/img/Genesis8_900.gif" width="100%" style="min-width: 300px;max-width: 350px;"></div>
        </div>
        <div class="col-sm">
          <div>
            <h3 style="margin-bottom: 0.5cm;margin-top: 0.5cm;">&nbsp;Genesis</h3>
            <p>
              The imagery of DeCEX is paired with an abstracted icon of twin sea-nymphs,
              who hold a water flask. The ocean has always been considered a place of
              generative aspects, which is the metaphor of DeCEX's tenacious vitality at
              the time of project launch.
              <br>
              <br>
              The Genesis NFT can be only obtained in the Public Sale Event.
            </p>
            <div>
              <button class="btn btn-primary" disabled style="font-size: 20px; margin-top:0.5cm;">Full
                Collection
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" style="margin-top: 2cm;">
        <div class="col" style="vertical-align: middle;text-align: center;">
          <div><img src="../static/img/Andre_2_900.gif" width="100%" style="min-width: 300px;max-width: 350px;"></div>
        </div>
        <div class="col-md">
          <div>
            <h3 style="margin-bottom: 0cm;margin-top: 0.5cm;">&nbsp;Influencers Collection</h3>
            <p>
              <br> A portrait of Andre as an element of a futuristic landscape, where the
              mechanics of distributed economy are engines and crystalline towers. In the
              foreground is a reflecting surface, the social layer of DeFi ingenuity and image.
            </p>
            <div>
              <button class="btn btn-primary" disabled
                style="font-size: 20px; margin-bottom: 0cm;margin-top:0.5cm;">Full Collection
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center" style="margin-top: 2cm; padding-bottom: 2cm;">
        <div class="col-md" style="vertical-align: middle;text-align: center;">
          <div><img src="../static/img/Messi4_900_H.gif" width="100%" style="min-width: 300px;max-width: 350px;"></div>
        </div>
        <div class="col-md">
          <div>
            <h3 style="margin-bottom: 0cm;margin-top: 0.5cm;">&nbsp;Athletes Collection</h3>
            <p>
              <br> This image evokes the energetic qualities of the crowd and Messi's athletic
              inertia entwined. With the motto from him, the sport spirit of mettle has completely
              presented in the portrait.
            </p>
            <div>
              <button class="btn btn-primary" disabled style="font-size: 20px; margin-top:0.5cm;"">Full Collection
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section style=" background-color: #000000c0;">
                <div class="container">
                  <div class="row justify-content-center" style="margin-bottom: 1cm;">
                    <div class="col-2">
                      <div class="icon1" style="margin-top: 1cm;">
                        <a href="https://t.me/DeCEXofficial" style="color: #00000000;">
                          bbb
                        </a>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="icon2" style="margin-top: 1cm;">
                        <a href="https://twitter.com/decexfinance" style="color: #00000000;">
                          bbb
                        </a>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="icon3" style="margin-top: 1cm;">
                        <a href="https://medium.com/@decexfinance" style="color: #00000000;">
                          bbb
                        </a>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="icon4" style="margin-top: 1cm;">
                        <a href="https://github.com/DecexFinanace/DeCex-token" style="color: #00000000;">
                          bbb
                        </a>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="icon5" style="margin-top: 1cm;">
                        <a href="https://etherscan.io/address/0x2A3a8F2d0487fbf654cd530B5F0A1d9467935D6a"
                          style="color: #00000000;">
                          bbb
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="row justify-content-center" style="margin-top: 0.5cm; padding-right: 70px;">
                    <div class="col" style="text-align: right;">
                      <img src="../static/img/Logo1.svg" width="80" height="80" class="d-inline-block align-top" alt=""
                        loading="lazy">
                    </div>
                    <div class="col" style="text-align: left;margin-left: -50px;">
                      <img src="../static/img/white.png" width="150" class="d-inline-block align-top" loading="lazy">
                    </div>
                  </div>

                  <div class="row justify-content-center" style="margin-top: 1cm;padding-bottom: 1cm;">
                    <a href="mailto:admin@decex.finance" style="color: #dddbdb;">
                      admin@decex.finance
                    </a>
                  </div>
                </div>
  </section>
</body>

</html>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>